.container{
  width: 100%;
  height: 560px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EEEFFC;
  border-radius: 16px;
}
.text_container h2{
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.text_container {
  width: 670px;

}
.text_container p{
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
text-align: center;
margin-top: 16px;
}
.bigLink{
  width: 406px !important;
  height: 60px !important;
  margin: 0 auto;
  margin-top: 36px;
  font-size: 26px !important;
}
h3{
  font-size: 34px;
  font-weight: 600;
}
.container_second{
  margin-top: 56px;
}
.flex_container{
  margin-top: 32px;
  display: flex;
  gap: 24px ;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.item_flex{
  padding: 24px 36px;
  width: 100%;
  background-color: #EEEFFC;
  height: 360px;
  border-radius: 16px;
}
.item_flex h4{
  font-size: 26px;
  font-weight: 600;
}
.item_flex p{
  margin-top: 24px;
  font-size: 18px;
}
.flex_container_second{
  margin-top: 32px;
  display: flex;
  gap: 24px ;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
.item_flex_second p{
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  margin: 20px;
  margin-left: 28px ;
}
.item_flex_second{
  background-color: #EEEFFC;
  border-radius: 16px;
}
.faq_item{
  background-color: #EEEFFC;
  border-radius: 16px;
}
.faq_item p{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
  margin-left: 28px;
  margin-bottom: 20px;

}
.faq_item h4{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
  margin-left: 28px ;
}

.container_check{
  display: flex;
  margin-top: 56px;
  border-radius: 16px;
  background-color: #EEEFFC;
  height: 144px;
  justify-content: space-between;
    align-items: center;
}

.item_check{
  margin: 32px 36px ;
}
.bigLink_bottom{
  font-size: 26px !important;
  width: 355px !important;
  height: 80px !important;
}

/* social */
.social_text{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 12px;
  width: 850px;
}
.container_social{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 150px ;
  margin-top: 32px ;
}
.item_social{
display: flex;
flex-direction: column;
align-items: center;
padding: 24px 36px;
gap: 10px;
width: 346.67px;
height: 303px;
background: #EEEFFC;
border-radius: 16px;
flex: none;
order: 0;
flex-grow: 1;
}
.item_social h3{
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
color: #000000;
}
.item_social img{
margin: 14px 0;
}
.item_social a{
width: 135px !important;
height: 40px !important;
line-height: 24px;
padding: 8px 0px;
}
/* пройти чек лист */
.flex{
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 36px;
}
.flex a{
  width: 100%;
  height: 60px !important;
  font-size: 26px;
}
.check_container{
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 32px
}
.item_notification{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 36px;
width: 532px;
/* height: 272px; */
background: #EEEFFC;
border-radius: 16px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
position: relative;
}
.item_notification h3{
font-weight: 600;
font-size: 26px;
line-height: 32px;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin-bottom: 12px;
}
.item_notification p{
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;
margin-bottom: 24px;
}
.check_buttons_flex{
  display: flex;
  gap: 16px;
}
.check_buttons_flex button{
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.check_buttons_flex button img{
  display: block;
  transition: filter 0.15s ease;
}
.check_buttons_flex button:active img{
  filter: brightness(0);
}
.count{
width: 18px;
height: 18px;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;
color: #8D8D8D !important;
position: absolute;
right: 36px;
bottom: 24px;
}
.item_notification input{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px;
width: 360px;
height: 40px;
background: #FFFFFF;
border: 1px solid #E9E9E9;
border-radius: 8px;
}
.item_notification input:focus{
  outline: none;
  border: 1px solid #20297C;
}
.item_notification button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 20px;
width: 92px;
height: 40px;
background: #20297C;
border-radius: 8px;
flex: none;
order: 1;
flex-grow: 1;
border: 1px solid #8d8d8d00;
}
.item_notification button:active{
  border: 1px solid #20297C;
  transition: all 0.05s ease-in-out;
  background: #ffffff00;
}
.details{
  margin-top: 8px;
  color: #20297C !important;
  font-size: 13px !important;
  line-height: 18px !important;
}
/* notifi */
.notification_success{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px 24px;
gap: 16px;
width: 460px;
/* min-height: 144px; */
background: #E1FAE1;
border: 1px solid #30DB32;
border-radius: 8px;
margin-bottom: 24px;
}
.notification_success button{
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px
}
.notification_success button img{
  display: block;
  transition: filter 0.15s ease;
}
.notification_success button:active img{
  filter: brightness(0);
}
.notification_success button:active{
  border: none;
}
.first_text_notifi{
  font-size: 18px;
  line-height: 24px;
}
.second_text_notifi{
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}
.error{
background: #FCE1DE;
border: 1px solid #EF3C29;
}
